@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #0a192f;
    --second-color: #64ffda;
    --third-color: #ccd6f6;
    --text-secondary: #8892b0;
    --highlight-color: #e6f1ff;
    --mouse-bottun-color: #112240;

    --fonte-principal:"Bebas Neue", serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--third-color);
    font-family: var(--fonte-secundaria);
    line-height: 1.6;
}

.cabecalho{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1% 0% 0% 15%;
    background-color: var(--main-color);
}
main{
    margin-top: 80px;
}

.cabecalho__menu{
    padding: 23px;
    display:flex;
    gap:80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;
    transition: color 0.3s;
}

.cabecalho__menu__link:hover{
    color: var(--second-color);
}

.destaque_titulo{
    color: var(--highlight-color);
    padding: 10px; 
}

.secao{
    min-height: calc(100vh - 120px);
    padding: 60px 15% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    position: relative;
    scroll-snap-align: start;
}

html{
    scroll-behavior: smooth;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    position: relative;
}

.apresentacao__conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img{
    max-width:100%;
    max-height: 480px;
    width: auto;
    height: auto;
    border: 2.5px solid var(--second-color);
    border-radius: 13px;

}

.apresentacao__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center;
    color: var(--highlight-color);
}

.apresentacao__paragrafo{
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
    color: var(--text-secondary);
}

.apresentacao__links{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulos{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--highlight-color);
}

.apresentacao__links__botoes{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--second-color);
    color: var(--third-color);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    transition: background-color 0.3s;
}

.apresentacao__links__botoes:hover{
    background-color: var(--mouse-bottun-color);
}

.rodape{
    text-align: center;
    padding: 23px;
    color:var(--third-color);
    background-color: var(--main-color);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.projetos{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.projeto{
    background-color: var(--mouse-bottun-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.projeto__titulo{
    font-family: var(--fonte-principal);
    font-size: 2rem;
    color: var(--highlight-color);
}

.projeto__imagem{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.apresentacao__imagem{
    width: 400px;
    height: 475px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    border: 3px solid var(--second-color);
    top: 5%;
    right: 2%;
}

.projeto__descricao{
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    color: var(--text-secondary);
    text-align: center;
}

.projeto__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    color: var(--third-color);
    background-color: var(--main-color);
    padding: 10px 20px;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    text-decoration: none;
    transition: backgroud-color 0.3s;
}

.projeto__link:hover{
    background-color: var(--mouse-bottun-color);
}

@media(max-width: 768px){ 
    .cabecalho{
        position: static;
        padding: 5% 0% 0% 5%;
    }

    main{
        margin-top: 0;
    }

    .secao{
        min-height: auto;
        flex-direction: column;
        padding: 30px 5%;
        gap: 40px;
    }

    .cabecalho__menu{
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }

    .cabecalho__menu__link{
        font-size: 1.2rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 5%;
        gap: 40px;
    }

    .apresentacao__conteudo{
        width: 100%;
    }

    .apresentacao__titulo{
        font-size: 1.8rem;
    }

    .apresentacao__paragrafo{
        font-size: 1.1rem;
    }

    .apresentacao__links__botoes{
        width: 80%;
        font-size: 1.2rem;
        padding: 15px 0;
    }

    .apresentacao__imagem,
    .sobre-mim__imagem{
        width: 70%;
        position: static;
        margin-top: 20px;
    }

    .rodape{
        font-size: 1.2rem;
        padding: 15%;
    }
    
}

@media(max-width: 480px){
    .cabecalho__menu{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .cabecalho__menu__link{
        font-size: 1rem;
    }
}

@media(max-width: 768px){
    .projeto{
        padding: 5% 10%;
    }

    .projeto__titulo{
        font-size: 1.5rem;
    }

    .projeto__descricao{
        font-size: 1rem;
    }

    .projeto__link{
        font-size: 1rem;
        padding: 8px 16px;
    }
}